# Film (BOM)


### Aggregate Box Office Numbers per Title

In [20]:
import requests
import lxml.html as lh
import pandas as pd
year = ['2016','2017','2018','2019','2020']

for y in year :
    url='https://www.boxofficemojo.com/year/world/'+y
    page = requests.get(url)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')
    col=[]
    i=0
    for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        col.append((name,[]))
    for j in range(1,len(tr_elements)):
        T=tr_elements[j]
        if len(T)!=7:
            break
        i=0
        for t in T.iterchildren():
            data=t.text_content() 
            if i>0:
                try:
                    data=int(data)
                except:
                    pass
            col[i][1].append(data)
            i+=1
    Dict={title:column for (title,column) in col}      
    if   y == '2020':
        dfOne=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2019':
        dfTwo=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2018':
        dfThree=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2017':
        dfFour=pd.DataFrame(Dict).assign(Year=y)
    elif y == '2016':
        dfFive=pd.DataFrame(Dict).assign(Year=y)        
Aggregate = pd.concat([dfOne,dfTwo,dfThree,dfFour,dfFive], ignore_index=True)  
Aggregate.columns = Aggregate.columns.str.replace(' ', '')
Aggregate = Aggregate.rename(columns={"Rank": "Number", "ReleaseGroup\n": "Title","%":"Change"})
Aggregate = Aggregate.set_index(['Title'])
Film = Aggregate.drop(['Number'],axis =1)
# Film

In [21]:
Film.sample(3)

,Worldwide,Domestic,Change,Foreign,Year
Title,,,,,
I Am Not Your Negro,"$8,345,298","$7,123,919",14.6%,"$1,221,379",2017
Baar Baar Dekho,"$1,329,777","$981,947",26.2%,"$347,830",2016
The Bolshoi Ballet: Live From Moscow - The Lady of the Camellias,"$167,991","$167,991",-,-,2018

In [22]:
Film.shape

(3136, 5)

In [23]:
Film.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3136 entries, Bad Boys for Life to Green is Gold
Data columns (total 5 columns):
Worldwide    3136 non-null object
Domestic     3136 non-null object
Change       3136 non-null object
Foreign      3136 non-null object
Year         3136 non-null object
dtypes: object(5)
memory usage: 147.0+ KB

In [24]:
Film.describe()

       Worldwide Domestic Change Foreign  Year
count       3136     3136   3136    3136  3136
unique      3129     3004    826    1998     5
top       $7,768        -      -       -  2018
freq           2      119   1137    1137   898

# Notes 
### 1. Numbers have 10-20% Error compare with IBOE